*{
    margin: 0;
    font-family: "Playpen Sans Hebrew", regular400;
}

body{
    background-color: #626F47;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

main{
    text-align: center;
    flex: 1 0 auto;
}

.navbar{
    background: #A4B465;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 0 4px 4px #222222;
}

.navbar a{
    text-decoration: none;
    font-weight: bold;
    color: #222222;
}

.logo a{
    font-size: 35px;
}

.navbar li{
    list-style: none;
    display: inline-block;
    transition: 3ms;
}

.navbar li a{
    font-size: 20px;
    margin: 15px;
    font-weight: 600;
    color: #222222;
    padding: 5px;
}

.navbar li.active a {
  background-color: #F0BB78;
  color: #222222;
  border-radius: 10px;
}

.navbar li:hover{
    transform: translateY(-2px);
}


.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerBox{
    max-width: 400px;
    margin: 50px auto;
    margin-bottom: 20px;
    background: #F0BB78;
    border-radius: 10px;
    box-shadow: 5px 5px 15px -5px #222222;
}

.listContainer{
    max-width: 400px;
    margin: 50px auto;
    margin-top: 0;
    background: #F0BB78;
    border-radius: 10px;
    box-shadow: 5px 5px 15px -5px #222222;
}

.task{
    min-height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
}

.task:last-child{
    border-bottom: 0;
}

.task p {
    margin: 0;
    padding: 20px 0;
    font-size: 20px;
}

input[type="checkbox"]{
    margin: 20px;
    margin-left: 0;
}

form{
    text-align: center;
    margin-left: 20px;
}

button.add{
    background: none;
    border: none;
}

.icon{
    height: 20px;
    cursor: pointer;
}

input[type="text"] {
  text-align: left;
  height: 40px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 80%;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -2px 0 0 #f1f1f1;
}

footer {
  flex: 0 0 auto;
  text-align: center;
}